<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <h1>
        Admin page
    </h1>
    <a href="/admin_logout/"><button type="submit" name="login" class="btn btn-secondary-index"><b>LOGOUT</b></button>
    </a>
    <div>
        <h1>UserCount : {{ user_count }} </h1>
        <h1>adv count :{{ adv_count }} </h1>

        <h1>Case Count : {{ user_count }} </h1>
        <h1>Feedback Count :{{ adv_count }} </h1>


    </div>
</body>

</html>