{% extends 'user_header_footer.html' %}
{% block user_profile %}
{% load static %}
<div class="section bg-primary">
	<div class="content-wrap py-3">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="text-center text-white">
						<h3>My Account</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- CTA -->
<div class="section">
	<div class="content-wrap py-0">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="cta-overlap clearfix">
						<div class="body-text mb-3">
							<h3 class="my-1 text-white">{{data.2}}</h3>
							<p class="uk18 mb-0 text-primary">Email : {{data.5}}</p>
						</div>
						<div class="body-action">
							<!-- <a href="/add_case?adv_id={{data.0}}" class="btn btn-primary">Request Consultation</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- OUR PROMISE? -->
<div class="section">
	<div class="content-wrap pb-0">
		<div class="container">
			<div class="row align-items-start">

				<div class="col-sm-12 col-md-12 col-lg-6">
					<img src="../static{{data.1}}" alt="" class="img-fluid img-border" width="350px;" height="50px;">
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6">
					<blockquote class="quote">

						<footer class="blockquote-footer">Age : </footer>
						<p class="uk18">{{data.3}}</p>
						<footer class="blockquote-footer">Gender : </footer>
						<p class="uk18">{{data.4}}</p>
						<footer class="blockquote-footer">Email : </footer>
						<p class="uk18">{{data.5}}</p>
						<footer class="blockquote-footer">Contact No : </footer>
						<div class="col-sm-12 col-md-12">

							<p class="uk18">{{data.6}}</p>

							<footer class="blockquote-footer">Address : </footer>
							<p class="uk18">{{data.8}}</p>
							<footer class="blockquote-footer">Account Number : </footer>
							<p class="uk18">{{data.9}}</p>
							<footer class="blockquote-footer">CVV : </footer>
							<p class="uk18">{{data.10}}</p>
							<footer class="blockquote-footer">Password : </footer>
							<div class="col-sm-12 col-md-12">
								<div class="form-group">
									<input type="password" Name="password" placeholder="Password" value="{{data.14}}"
										id="myInput" class="form-control" required="">
									<input type="checkbox" onclick="myFunction()">
									<label>
										<h6>show password</h6>
									</label>



									<div class="help-block with-errors"></div>
								</div>
							</div>

					</blockquote>
					<script>
						function myFunction() {
							debugger;
							var x = document.getElementById("myInput");
							if (x.type === "password") {
								x.type = "text";
							} else {
								x.type = "password";
							}
						}
					</script>
					<a href="/change_password/"><input type="" name="ch_ps" value="change password"
							class="btn btn-secondary"></a>
					<a href="/change_number/"><input type="" name="ch_cn" value="change Number"
							class="btn btn-secondary"></a>


					<div class="spacer-content"></div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}